<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="{$basePath}/main.css">

	<title>{ifset title}{include title|stripHtml} | {/ifset}HC Senators</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" n:href=":Front:Homepage:default">
		<img src="{$basePath}/assets/images/logo_obrys_vyrez.svg" width="30"
			 height="30" class="d-inline-block align-top" alt="">
		<span style="color: #8e8e8e">HC</span><strong>SENATORS</strong>
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			{*<li n:class="'nav-item', $presenter->isLinkCurrent(':Front:Homepage:default') ? 'active'">*}
			{*<a class="nav-link" n:href=":Front:Homepage:default">Home</a>*}
			{*</li>*}
		</ul>

		<a n:href=":Front:Login:default" class="btn btn-outline-success" n:if="!$user->isLoggedIn()">Přihlásit se</a>
		<a n:href=":Front:Logout:default" class="btn btn-danger" n:if="$user->isLoggedIn()">Odhlásit se</a>
	</div>
</nav>

<div class="container mt-2 mb-2">
	<div n:foreach="$flashes as $flash" n:class="'alert', 'alert-' . $flash->type">{$flash->message}</div>
</div>

<div class="container mt-4">
	{include content}
</div>

{block scripts}
	<script src="{$basePath}/bundle.js"></script>
	<script src="{$basePath}/assets/plugin/nette/netteForms.min.js"></script>
	<script src="{$basePath}/assets/plugin/nette/nette.ajax.js"></script>
{/block}
</body>
</html>
